<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/js/login.js" type="text/javascript"></script>
</head>
<body>
<div class="top_login">员工管理系统</div>
<div id="middle_login">
    <div class="depend_login">
        <div class="low_login">用户名:</div>
        <div class="low_low_login">
            <input id="user_login" type="text" value=""/>
        </div>
    </div>
    <div class="depend_login">
        <div class="low_login">密&nbsp;&nbsp;&nbsp;&nbsp;码:</div>
        <div class="low_low_login">
            <input id="password_login" type="password" value=""/>
        </div>
    </div>
    <div class="click_login">
        <input id="login_bu" type="button" value="登陆"/>
    </div>
</div>
</body>
</html>