<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/css/manage.css" />
    <script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="/js/manage.js" type="text/javascript"></script>
    <script src="/js/login.js" type="text/javascript"></script>
</head>
<body>
<div class="mag_left">
    <div class="left_title">管理系统</div>
    <!--这里是由数据库的功能模块动态生成-->
    <!--<div style="width: 100%;margin: auto;margin-top: 2%">-->
        <!--<input type="button" style="font-size: 30px;color: burlywood;font-weight: bold;text-align: center;width: 100%;margin: auto" value="dfgtersdgdrsgdt" />-->
    <!--</div>-->
    <!--<div style="width: 100%;margin: auto;margin-top: 2%">-->
        <!--<input type="button" style="font-size: 30px;color: burlywood;font-weight: bold;text-align: center;width: 100%;margin: auto" value="dfgtersdgdrsgdt" />-->
    <!--</div>-->
</div>
<div class="mag_right">
    <div class="mag_top">
        <div class="mag_top_fei"></div>
        <div class="mag_user">
            <div class="mag_user_name">当前用户:</div>
            <div class="mag_uname"></div>
        </div>
        <div class="mag_post">
            <div class="mag_post_name">职&emsp;&emsp;位:</div>
            <div class="mag_pname"></div>
        </div>
        <div class="mag_out">
            <input id="out_bu" type="button" value="注销" />
        </div>
    </div>
    <div id="mag_down">
        <!--根据后台数据动态生产表格-->
        <!--<table style="border: 1px red solid;width: 80%;margin: auto;margin-top: 5%;">-->
            <!--<tr style="border: 1px black solid">-->
                <!--<td>1231289</td>-->
                <!--<td>534567</td>-->
                <!--<td>645746</td>-->
                <!--<td colspan="2" style="text-align: center">7657567</td>-->
            <!--</tr>-->
            <!--<tr style="border: 1px black solid">-->
                <!--<td>1231289</td>-->
                <!--<td>534567</td>-->
                <!--<td>645746</td>-->
                <!--<td>7657567</td>-->
                <!--<td>gdhfhdfh</td>-->
            <!--</tr>-->
        <!--</table>-->
    </div>
</div>
</body>
</html>